@import 'eight.theme'

img
  display block
  margin 0 $base-side-margin $base-bottom-margin

  &.left
    float left
    margin-left 0

  &.right
    float right
    margin-right 0

  &.centered
    margin-left auto
    margin-right auto

blockquote
  margin-left 0
  margin-right 0
  margin-top $base-top-margin
  margin-bottom $base-bottom-margin
  padding $base-side-margin
  border-left 1 * $ept solid $border-dark-color

fieldset
  position relative
  margin 0
  min-width auto
  border none
  padding $form-fieldset-padding * 3 $form-fieldset-padding $form-fieldset-padding
  background-color $panel-background-color

  legend
    position absolute
    top 0
    left 0
    margin $form-fieldset-padding

label
  display inline-block
  margin 0 0 .5 * $base-bottom-margin

input
textarea
select
  width 100%
  padding 1 * $ept
  margin 0
  box-sizing border-box
  border-radius $base-border-radius
  border 1px solid $border-color
  background-color $white-color
  box-shadow none

input
select
  max-width 48 * $ept
  min-height 4 * $ept

select
input[type="checkbox"]
input[type="radio"]
  cursor pointer

textarea
  max-width 72 * $ept
  min-height 24 * $ept

input[type="reset"]
input[type="submit"]
input[type="checkbox"]
input[type="radio"]
  width auto
  min-height auto

button
input[type="reset"]
input[type="submit"]
.btn
  display inline-block
  margin 0
  margin-right 1 * $ept
  padding 1.5 * $ept 3 * $ept
  border none
  border-radius $base-border-radius
  background-color $border-color
  color $text-color
  font-family $header-font-family
  font-weight $header-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing
  text-transform uppercase
  text-decoration none
  box-shadow none
  cursor pointer

  &:hover
    background-color $border-dark-color
    color $text-inverted-color

  &.floating
    position fixed
    margin 0

    &.top
      top $base-top-margin

    &.bottom
      bottom $base-bottom-margin

    &.left
      left $base-side-margin

    &.right
      right $base-side-margin

table
  th
  td
    padding 1 * $ept
