@import 'eight.theme'

/* Text */

html
  color $text-color
  font-family $base-font-family
  font-size $base-font-size
  font-weight $base-font-weight
  line-height $base-line-height
  letter-spacing $base-letter-spacing

legend
label
  color $text-color
  font-family $header-font-family
  font-weight $header-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing

legend
  text-transform uppercase

hr
  border-top 1px solid $border-color
  margin 4 * $ept 0


/* Headers */

h1, h2, h3, h4, h5, h6
  font-family $header-font-family
  font-weight $header-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing
  margin 0

h1
  font-size 1em * $base-font-scale ** 4
  margin-bottom $header-base-bottom-margin * 4

h2
  font-size 1em * $base-font-scale ** 3
  margin-bottom $header-base-bottom-margin * 3

h3
  font-size 1em * $base-font-scale ** 2
  margin-bottom $header-base-bottom-margin * 2

h4
  font-size 1em * $base-font-scale ** 1
  margin-bottom $header-base-bottom-margin * 1

h5
  font-size 1em * $base-font-scale ** 0
  margin-bottom $header-base-bottom-margin * 1

h6
  font-size 1em * $base-font-scale ** -1
  margin-bottom $header-base-bottom-margin * 1
