@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro'


/* Const */

$source-sans-pro  = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$ept = 8px


/* Breakpoints */

$xs = 576px
$sm = 768px
$md = 992px
$lg = 1200px
$xl = 1600px


/* Colors */

$black-color = #000
$white-color = #fff
$text-color = #333
$border-color = #e6e6e6
$border-dark-color = #333

$panel-background-color = #fafafa


/* Radius, margins, padding */

$base-border-radius = .5 * $ept


/* Text */

$base-font-size = 2 * $ept
$base-font-weight = 300
$base-font-scale = 1.5
$base-font-family = $source-sans-pro
$base-line-height = 1.5
$base-letter-spacing = 1


/* Headers */

$header-font-family = $base-font-family
$header-font-weight = 700
$header-line-height = 1
$header-letter-spacing = 1
$header-base-bottom-margin = $ept


/* Grid */

$grid-column-gutter = 1 * $ept


/* Form */

$form-fieldset-padding = 2 * $ept
