@import 'eight.theme'


/* Images */

img
  display block
  max-width 100%
  margin 1 * $ept $base-side-margin

  &.left
    float left
    margin-left 0

  &.right
    float right
    margin-right 0

  &.centered
    margin-left auto
    margin-right auto

  &.xs
    width $img-xs-width

  &.sm
    width $img-sm-width

  &.md
    width $img-md-width

  &.lg
    width $img-lg-width

  &.xl
    width $img-xl-width


/* Forms */

fieldset
  position relative
  margin 0
  min-width auto
  border none
  padding $form-fieldset-padding * 3 $form-fieldset-padding $form-fieldset-padding

legend
  position absolute
  top 0
  left 0
  margin $form-fieldset-padding

input
textarea
select
  width 100%
  padding $form-input-padding
  margin 0
  outline 0
  box-sizing border-box
  border-radius $base-border-radius
  border 1px solid $border-color
  background-color $white-color
  box-shadow none

input
select
  max-width $form-input-max-width
  min-height $form-input-min-height
  max-height $form-input-min-height

select
input[type="checkbox"]
input[type="radio"]
input[type="file"]
  cursor pointer

input[type="reset"]
input[type="submit"]
input[type="checkbox"]
input[type="radio"]
  width auto
  min-height auto

textarea
  max-width $form-textarea-max-width
  min-height $form-textarea-min-height


/* Buttons */

button
input[type="reset"]
input[type="submit"]
input[type="button"]
.btn
  display inline-block
  width auto
  min-height auto
  margin 0 0 0 $base-side-margin
  padding $button-padding
  border none
  border-radius $base-border-radius
  outline 0
  background-color $button-default-color
  color $text-color
  font-family $header-font-family
  font-weight $header-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing
  text-transform uppercase
  text-decoration none
  box-shadow none
  cursor pointer

  &:first-of-type
    margin-left 0

  &:hover
    background-color $border-dark-color
    color $text-inverted-color

  &.floating
    position fixed
    margin $base-margin

    &.top
      top 0

    &.bottom
      bottom 0

    &.left
      left 0

    &.right
      right 0


/* Misc */

blockquote
  border-left 1 * $ept solid $border-dark-color
