@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro'


/* Const */

$source-sans-pro  = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$ept = 8px


/* Breakpoints */

$xs = 576px
$sm = 768px
$md = 992px
$lg = 1200px
$xl = 1600px


/* Colors */

$black-color = #000
$white-color = #fff
$text-color = #212121
$text-inverted-color = #fafafa
$border-color = #e6e6e6
$border-dark-color = #212121

$panel-background-color = #fafafa


/* Radius, margins, padding */

$base-border-radius = 0 * $ept


/* Text */

$base-font-size = 2 * $ept
$base-font-weight = 300
$highlight-font-weight = 500
$base-font-family = $source-sans-pro
$base-line-height = 1.5
$base-letter-spacing = normal
$base-top-margin = 0 * $ept
$base-bottom-margin = 2 * $ept
$base-side-margin = 2 * $ept
$base-margin = $base-top-margin $base-side-margin $base-bottom-margin


/* Headers */

$header-font-family = $base-font-family
$header-font-weight = 700
$header-line-height = 1
$header-letter-spacing = normal
$header-base-top-margin = 2 * $ept
$header-base-bottom-margin = 2 * $ept


/* Grid */

$grid-column-gutter = 1 * $ept


/* Images */

$img-xs-width = 8 * $ept
$img-sm-width = 16 * $ept
$img-md-width = 32 * $ept
$img-lg-width = 64 * $ept
$img-xl-width = 128 * $ept


/* Buttons */

$button-padding = 1 * $ept 2 * $ept


/* Tables */

$table-cell-padding = 1 * $ept 2 * $ept


/* Forms */

$form-fieldset-padding = 2 * $ept
$form-input-max-width = 48 * $ept
$form-input-min-height = 4 * $ept
$form-textarea-max-width = 72 * $ept
$form-textarea-min-height = 24 * $ept
$form-input-padding = 1 * $ept
