@require 'eight.theme'


/* Images */

img
  display block
  max-width 100%
  margin 1 * $ept $base-side-margin

  &.left
    float left
    margin-left 0

  &.right
    float right
    margin-right 0

  &.centered
    margin-left auto
    margin-right auto

  &.xs
    width $img-xs-width

  &.sm
    width $img-sm-width

  &.md
    width $img-md-width

  &.lg
    width $img-lg-width

  &.xl
    width $img-xl-width


/* Forms */

fieldset
  position relative
  margin 0
  min-width auto
  border none
  padding $form-fieldset-padding * 3 $form-fieldset-padding $form-fieldset-padding

legend
  position absolute
  top 0
  left 0
  margin $form-fieldset-padding

input,
textarea,
select,
button
  width 100%
  padding $form-input-padding
  margin 0
  outline 0
  box-sizing border-box
  border-radius $base-border-radius
  border 1px solid $border-color
  background-color $white-color
  box-shadow none

input
select
  max-width $form-input-max-width
  min-height $form-input-min-height
  max-height $form-input-min-height

select,
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="reset"],
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="radio"],
button
  cursor pointer

input[type="reset"],
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="radio"],
button
  width auto
  min-height auto

textarea
  max-width $form-textarea-max-width
  min-height $form-textarea-min-height


/* Buttons */

.btn
  display inline-block
  box-sizing border-box
  width auto
  min-width 5 * $ept
  min-height auto
  margin 0
  padding $button-padding
  border none
  border-radius $base-border-radius
  outline 0
  background-color $button-default-color
  color $text-color
  font-family $header-font-family
  font-weight $base-highlight-font-weight
  letter-spacing $header-letter-spacing
  line-height $header-line-height
  vertical-align middle
  text-align center
  text-transform uppercase
  text-decoration none
  box-shadow none
  cursor pointer

  &+.btn
    margin-left $base-side-margin

  &:hover
    background-color $border-dark-color
    color $text-inverted-color

  &.floating
    position fixed
    margin $base-margin

    &.top
      top 0

    &.bottom
      bottom 0

    &.left
      left 0

    &.right
      right 0

makeBtnGroupStackable()
  flex-direction column

  :not(:last-child)
    margin-bottom 0

.btn-group
  display inline-flex
  flex-direction row
  justify-content center

  .btn
    margin-left 0 !important

  :not(:first-child)
    border-top-left-radius 0
    border-bottom-left-radius 0

  :not(:last-child)
    border-top-right-radius 0
    border-bottom-right-radius 0

  &.stackable
    @media screen and (max-width: $xs)
      makeBtnGroupStackable()


    &.sm
      @media screen and (max-width: $sm)
        makeBtnGroupStackable()

    &.md
      @media screen and (max-width: $md)
        makeBtnGroupStackable()

    &.lg
      @media screen and (max-width: $lg)
        makeBtnGroupStackable()


/* Tables */

makeTableStackable()
  tr
    flex-direction column

    td:not(:last-of-type), th:not(:last-of-type)
      border-bottom none

  &.celled
    td
      border-right 1px solid $border-color


table
  &.bordered
    td
      border-bottom 1px solid $border-color

    thead td, th
      border-bottom 1px solid $border-dark-color

  &.celled
    td
      border-left 1px solid $border-color
      border-bottom 1px solid $border-color

    td:last-of-type
      border-right 1px solid $border-color

    thead td, th
      border none
      background-color $border-dark-color
      color $text-inverted-color

  &.stackable
    @media screen and (max-width: $xs)
      makeTableStackable()


    &.sm
      @media screen and (max-width: $sm)
        makeTableStackable()

    &.md
      @media screen and (max-width: $md)
        makeTableStackable()

    &.lg
      @media screen and (max-width: $lg)
        makeTableStackable()


/* Misc */

blockquote
  border-left 1 * $ept solid $border-dark-color
