@require 'eight.theme'


/* Images */

img
  display block
  max-width 100%
  margin 1 * $ept $base-side-margin

  &.left
    float left
    margin-left 0

  &.right
    float right
    margin-right 0

  &.centered
    margin-left auto
    margin-right auto

  &.xs
    width $img-xs-width

  &.sm
    width $img-sm-width

  &.md
    width $img-md-width

  &.lg
    width $img-lg-width

  &.xl
    width $img-xl-width
