@import 'eight.theme'

/* Text */

html
  color $text-color
  font-family $base-font-family
  font-size $base-font-size
  font-weight $base-font-weight
  line-height $base-line-height
  letter-spacing $base-letter-spacing

p
  margin-top $base-top-margin
  margin-bottom $base-bottom-margin

pre
  overflow auto

dt
  font-weight $highlight-font-weight

hr
  border-top 1px solid $border-color
  margin 4 * $ept 0

blockquote
  font-size $base-font-size * 1.5

  cite
    font-size $base-font-size

legend
  color $text-color
  font-family $header-font-family
  font-weight $highlight-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing
  text-transform uppercase

label
  color $text-color
  font-family $header-font-family
  font-weight $header-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing


/* Headers */

h1, h2, h3, h4, h5, h6
  font-family $header-font-family
  font-weight $header-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing
  margin $header-base-top-margin 0 $header-base-bottom-margin

h1
  font-size $base-font-size * 3.5

h2
  font-size $base-font-size * 3

h3
  font-size $base-font-size * 2.5

h4
  font-size $base-font-size * 2

h5
  font-size $base-font-size * 1.5

h6
  font-size $base-font-size * 1
