@import 'eight.theme'
@import 'eight.mixins'


/* Mixins */

makeStackable()
  flex-flow column wrap

  &.reverse
    flex-direction column-reverse

  > .col
    padding 0
    max-width 100%


/* Rules */

html
  min-width 320px

body
  overflow-x hidden

.container
  margin 0 auto
  padding 0 $container-gutter

  @media screen and (min-width: $md)
    width $sm

  @media screen and (min-width: $lg)
    width $md

  @media screen and (min-width: $xl)
    width $lg

  &.sm
    @media screen and (min-width: $md)
      max-width $sm

  &.md
    @media screen and (min-width: $lg)
      max-width $md

.row,
.col
  display flex
  flex 1

.row
  max-width 100%

  .col
    position relative
    flex-direction column
    padding-left $grid-col-gutter * 1
    padding-right $grid-col-gutter * 1

    &.tenth
      flex-basis 10%
      max-width 10%

    &.fifth
      flex-basis 20%
      max-width 20%

    &.fourth
      flex-basis 25%
      max-width 25%

    &.third
      flex-basis 33.33%
      max-width 33.33%

    &.half
      flex-basis 50%
      max-width 50%

  &.compact
    .col
      padding-left $grid-col-gutter * 0
      padding-right $grid-col-gutter * 0

  &.expanded
    .col
      padding-left $grid-col-gutter * 2
      padding-right $grid-col-gutter * 2

  &:not(.reverse)
    .col:first-of-type
      padding-left 0
    .col:last-of-type
      padding-right 0

  &.reverse
    flex-direction row-reverse
    .col:first-of-type
      padding-right 0
    .col:last-of-type
      padding-left 0

  &.stackable
    @media screen and (max-width: $xs)
      makeStackable()

    &.sm
      @media screen and (max-width: $sm)
        makeStackable()

    &.md
      @media screen and (max-width: $md)
        makeStackable()

    &.lg
      @media screen and (max-width: $lg)
        makeStackable()
