@import 'eight.theme'

/* Text */

html
  color $text-color
  font-family $base-font-family
  font-size $base-font-size
  font-weight $base-font-weight
  line-height $base-line-height
  letter-spacing $base-letter-spacing

p
  margin-top $base-top-margin
  margin-bottom $base-bottom-margin

pre
  overflow auto

dt
  font-weight $highlight-font-weight

hr
  border none
  height 1px
  color $border-color
  background-color $border-color
  margin 4 * $ept 0

blockquote
  margin-left 0
  margin-right 0
  margin-top $base-top-margin
  margin-bottom $base-bottom-margin
  padding $base-side-margin
  font-size $base-font-size * 1.5

  cite
    font-size $base-font-size

ol, ul
  padding-left 2 * $base-side-margin

dd
  margin-left 2 * $base-side-margin


/* Forms */

legend
  display inline-block
  color $text-color
  font-family $header-font-family
  font-weight $highlight-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing
  text-transform uppercase

label
  display inline-block
  margin 0 0 .5 * $base-bottom-margin
  color $text-color
  font-family $header-font-family
  font-weight $header-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing


/* Tables */

table
  th
    padding $table-cell-padding
    font-weight $header-font-weight

  td
    padding $table-cell-padding


/* Headers */

h1, h2, h3, h4, h5, h6
  font-family $header-font-family
  font-weight $header-font-weight
  line-height $header-line-height
  letter-spacing $header-letter-spacing
  margin $header-base-top-margin 0 $header-base-bottom-margin

h1
  font-size $base-font-size * 3.5

h2
  font-size $base-font-size * 3

h3
  font-size $base-font-size * 2.5

h4
  font-size $base-font-size * 2

h5
  font-size $base-font-size * 1.5

h6
  font-size $base-font-size * 1
